.venv/
.DS_Store
*.mod
*.o
*.x
fort*
inputs/logs/part3/
results/timeseries_part2.dat
results/5x10^6/

results/part2/timeseries_part2.dat
results/part3/timeseries_part3.dat
results/part4/timeseries_part4.dat
