# ignore all raw timeseries, keep only .zip versions
results/**/timeseries_*.dat

# ignore executables and intermediate files
exchange_mc
exchange_mc_part3
exchange_mc_part4
exchange_mc_part6

src/*.o
src/*.mod

